<div class="fc-container mat-elevation-z8 mat-table">
  <h4>List of disease</h4>
  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="symptom">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Symptom</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.symptom}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="diagnosis">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Diagnosis</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.diagnosis}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="isDoctorDiagnosis">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Is doctor</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.isDoctorDiagnosis}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="diseaseStartDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Start date</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.diseaseStartDate | date: 'fullDate'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="diseaseEndDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> End date</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.diseaseEndDate | date: 'fullDate'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="operation">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Operations</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" routerLink="{{row.id}}/advice">Advices</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
