<mat-card>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="SUMMARY">
        <div class="fd-tab-content">
          Important medical patient's information.
        </div>
      </mat-tab>
      <mat-tab label="DISEASE">
        <div class="fd-tab-content">
          <button mat-raised-button routerLink="disease" color="primary">Disease list</button>
          <button mat-raised-button routerLink="disease/new" color="primary">Add new disease</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
