<mat-card>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="SUMMARY">
        <div class="fd-tab-content">
          Important medical patient's information.
        </div>
      </mat-tab>
      <mat-tab label="DETAILS">
        <div class="fd-tab-content">
          <button mat-raised-button routerLink="/disease" color="primary">Disease details</button>
          <button mat-raised-button routerLink="/disease/new" color="primary">Add new disease</button>
        </div>
      </mat-tab>
      <mat-tab label="BLOOD PRESSURE-TO DO" disabled>
          List of patient's blood pressure.
      </mat-tab>
      <mat-tab label="VACCINATION-TO DO" disabled>
          List of patient's vaccination.
      </mat-tab>
      <mat-tab label="TEMPERATURE-TO DO" disabled>
          List of patient's tempreture.
      </mat-tab>
      <mat-tab label="LABORATORY DIAGNOSTICS-TO DO" disabled>
          List of patient's laboratory diagnostics.
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
